.admin-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 3rem;
}

.admin-login input {
  padding: 0.6rem;
  border: 1px solid gold;
  border-radius: 0.4rem;
  margin-top: 1rem;
  background: transparent;
  color: #fff;
}

.admin-login button {
  margin-top: 1rem;
  background: linear-gradient(90deg, gold, #facc15);
  color: #111;
  border: none;
  border-radius: 0.4rem;
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.admin-login button:hover {
  filter: brightness(1.1);
}

.error {
  color: salmon;
  margin-top: 0.5rem;
}

.admin-dashboard {
  padding: 3rem;
  color: gold;
  text-align:center;
}
